body {
  max-width: 1000px;
  margin: auto;
}

h1, h3 {
  text-align: center;
}

div#allcats {
  margin: auto;
  text-align: center;
}

div#cat1, div#cat2 {
  display: inline-block;
}

img {
  height: 300px;
  margin: 5px;
}

